---
---
<div class="w-full bg-white py-6">
    <div class="max-w-7xl mx-auto h-24 bg-center" style="background-image: url('/images/home/pattern.png'); background-repeat: no-repeat; background-size: contain;"></div>
</div>
